<template>
  <div class="jumbotron">
  <div class="transparent">
  <div class="image"></div></div>
  
  <div class="jumbotronContent">
  
  <div class="jumbotronCaption">
  <h1>{{punchline}}</h1>
  <p>Since 2022 - Tokyo, 100 years of secret recipe.</p>
  <button class="seeMenu" onclick="location.href='#menu'" type="button">Read our menu</button>
  </div>

  <div class="jumbotronImage">
  <img src="@/assets/images/web_icon.png"/>
  </div>

  </div>

  </div>
</template>

<script>
export default {
  name: 'Jumbotron',
  props: {
    punchline: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.jumbotron {
color:white;
min-height:500px;

}
.transparent {
position:absolute;
height:500px;
width:100%;
  background:hsl(15,100%,20%);
  z-index:-1;
  opacity:1;
}
.image {
  background-attachment:fixed;
  background-size:cover;
  background-image:url('~@/assets/images/city.jpg');
  width:100%;
  height:500px;
  z-index:-2;
  opacity:0.3;
}
.jumbotronContent {
padding-top:12%;
margin: auto;
width: 60%;

}
.jumbotronCaption h1 {
  font-size:50px;
}
.jumbotronCaption, .jumbotronImage {
  float:left;
}
.jumbotronCaption {
  width:50%;
  margin-right:5%;
}
.seeMenu {
color:white;
  box-shadow:5px 5px 5px hsl(25,100%,20%);
  font-size:120%;
  padding:3%;
  border:none;
  border-radius:25px;
  background:hsl(25,100%,40%);
  transition:all 0.5s ease-out;
}
.seeMenu:hover {
  background:hsl(25,100%,20%);
}
.jumbotronImage {
  padding-top:5%;
}
@media(max-width:800px) {
.jumbotronCaption, .jumbotronImage {
width:initial;
  float:none;
}
.jumbotronContent {
text-align:center;
  width:100%;
  padding-top:25%;
}
.jumbotronCaption h1 {
  font-size:100%;
  }
}
</style>
