<template>
  <div class="grid-container" id="menu">

  <div class="grid-item-container ">
  <h3>Main Dishes</h3>

  <div class=" float50 menu-item" v-for="item in mainDishes" v-bind:key='item.id'>
  <h4>{{item.name}}</h4>
  <img v-bind:src="require('@/assets/images/' + item.image +'.jpeg')"/>
  <button onclick="location.href='#'">Pesan Sekarang</button>
  </div>

  <div style="clear:both"></div>
  <h3>Chicken Set</h3>

  <div class=" float50 menu-item" v-for="item in chickenSet" v-bind:key='item.id'>
  <h4>{{item.name}}</h4>
  <img v-bind:src="require('@/assets/images/' + item.image +'.jpeg')"/>
  <button onclick="location.href='#'">Pesan Sekarang</button>
  </div>

  </div>
  <div class="grid-item-container ">
  <div style="clear:both"></div>
  <h3>Side Dishes</h3>

  <div class=" float50 menu-item" v-for="item in sideDishes" v-bind:key='item.id'>
  <h4>{{item.name}}</h4>
  <img v-bind:src="require('@/assets/images/' + item.image +'.jpeg')"/>
  <button onclick="location.href='#'">Pesan Sekarang</button>
  </div>

  <div style="clear:both"></div>
  <h3>Kids Meal</h3>

  <div class=" float50 menu-item" v-for="item in kidsMeal" v-bind:key='item.id'>
  <h4>{{item.name}}</h4>
  <img v-bind:src="require('@/assets/images/' + item.image +'.jpeg')"/>
  <button onclick="location.href='#'">Pesan Sekarang</button>
  </div>

  </div>

  <div class="grid-item-container locations">
  <h3>Check out our locations!</h3>
  <p class="locationCard">TRANSMART CILANDAK, Lt. 1</p>
  <p class="locationCard">ONE BELPARK MALL, Lt. Dasar.</p>
  <p class="locationCard">SUPERMAL PAKUWON INDAH, FOOD COURT, Lt. 1</p>
  <p class="locationCard">BOTANI SQUARE, EATERY Lt 2</p>
  <p class="locationCard">MARGO CITY DEPOK, FOOD COLRT, Lt 2</p>
  <p class="locationCard">AEON MALL BSD CITY, Lt. Dasar</p>
  <p class="locationCard">KOTA KASABLANKA, Lt LG</p>


  <div style="clear:both"></div>
  <div class="infoCard">
  <h5>For special events or big orders, arrange reservations @</h5>
  <h3>1-111-111</h3>
  </div>

  <div style="clear:both"></div>
  <div class="infoCard">
  <h5>For critiques and feedbacks, please contact</h5>
  <h3>cs@yoshyeah.com</h3>
  </div>

  <img src="@/assets/images/logo_mui.png" />


  </div> 

  </div>
</template>

<script>
export default {
  name: 'Menu',
  props: {
    title: String,
    titleCaption: String
  },
  data() {
    return {
      mainDishes: [
      { name:'Egg Mayo', image: '1' },
      { name:'Red HOT Chilli', image: '2' },
      { name:'Creamy', image: '3' },
      { name:'Crispy Spinach', image: '4' }
      ],
      chickenSet: [
      { name:'Crispy', image: '1' },
      { name:'Karaage', image: '3' },
      { name:'Bites', image: '2' }
      ],
      sideDishes: [
      { name:'Crispy Chicken', image: '2' },
      { name:'Karaage', image: '4' },
      { name:'Egg Roll', image: '3' },
      { name:'Shumai', image: '1' }
      ],
      kidsMeal: [
      { name:'Original', image: '1' },
      { name:'Yakiniku', image: '4' },
      { name:'Crispy', image: '2' },
      { name:'Bites', image: '3' }
      ],
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.grid-container {
padding:1%;
  display: grid;
  grid-template-columns: 40% 40% 20%;
  background-color: hsl(25,1%,90%);
}
.grid-item {
  padding: 2%;
  margin:0%;
  text-align: center;
}
.grid-item-container {
  background:white;
  margin:2%;
  padding:2%;
  box-shadow:5px 5px 5px hsl(1,1%,10%);
}
h3,h4,h5 {
  margin:0;
  padding:0;
}

.locationCard {
font-size:80%;
  padding:3%;
  margin-top:1%;
  background:hsl(25,100%,70%);
  float:left;
  border-radius:25px;
}
.float50 {
  float:left;
  width:43%;
  padding:2%;
  margin:1%;
}
.menu-item img {
margin-top:5%;
  width:100%;
  border-radius:10px;
}
.menu-item {
  transition:all 0.3s ease-out;
}
.menu-item button {
color:hsl(25,100%,30%);
background:transparent;
width:100%;
border:1px solid hsl(25,100%,50%);
border-radius:15px;
padding:3%;
transition:all 0.3s ease-out;
}
.menu-item button:hover {
  background:hsl(25,100%,30%);
  color:white;
}
.menu-item:hover {
  background:hsl(25,100%,80%);
}
.locations {
  padding:5%;
}
.infoCard {
  margin-bottom:5%;
  padding:5%;
  border-radius:25px;
  color:hsl(80,100%,20%);
  background:hsl(80,100%,80%);
  box-shadow:5px 5px 5px hsl(1,1%,10%);
}
@media(max-width:800px) {
  .grid-container {
  grid-template-columns: 100%;
  }
  .float50 {
  width:90%;
  float:none;
  }
}
</style>
