<template>
  <div class="headerNavbar">

  <div class="headerContent">
  <img src="@/assets/images/web_icon.png"/>
  <div class="headerTitle">
    <span class="headerTitleText">{{ title }}</span><br>
    <span class="headerPunchlineText">{{ titleCaption }}</span><br>
  </div>
  </div>

  <div class="headerFloatRight">
  <img src="@/assets/images/logo_mui.png" />
  </div>

  <div class="whiteBar">
  </div>

  </div>
</template>

<script>
export default {
  name: 'Navbar',
  props: {
    title: String,
    titleCaption: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.headerNavbar {
  position:fixed;
  top:0;
  left:0;
  background:hsl(25,100%,0%);
  width:100%;
  border-bottom:10px solid hsl(10,100%,45%);
  box-shadow:5px 5px 5px hsl(1,1%,10%);
}
.headerNavbar img {
height:50px;
float:left;
}
.headerContent {
  margin:1%;
}
.headerTitle {
  float:left;
  text-align:center;
}
.headerTitleText {
  color:white;
  font-size:190%;
  font-weight:bold;
}
.headerPunchlineText {
  color:hsl(25,100%,50%);
  font-weight:bold;
}
.headerFloatRight {
  float:right;
  margin-right:3%;
}
.whiteBar {
  margin-top:6%;
  border-bottom:10px solid white;
  clear:both;
}
</style>
