<template>
  <Navbar :title=companyName :titleCaption=titleCaption />
  <Jumbotron :punchline=companyPunchline />
  <Menu />
</template>

<script>
import Navbar from './components/Navbar.vue'
import Jumbotron from './components/Jumbotron.vue'
import Menu from './components/Menu.vue'

export default {
  name: 'App',
  components: {
    Navbar,Jumbotron,Menu
  },
  data() {
  return{
  companyName:'YOSH  --  YEAH',
  titleCaption: 'JAPANESE RESTAURANT',
  companyPunchline: "Japan's Best Beef Bowl"
  }
  }
}
</script>

<style>
a {
  text-decoration:none;
}
body {
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6 {
  margin-bottom:2%;
}
#app {
  margin:0;
  padding:0;
  font-family: Verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:hsl(25,100%,20%);
}
</style>
